.mainc
{
    display: block;
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    height: 100vh;
}
.mainc-content
{
    display: flex;
    border-radius: 20px;
    background-color: #e69c04;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    padding: 12px;
    border: solid black 2px;
}

.mainc-cards
{
    width: 60%;
    height: 100%;
    border: solid black 3px;
    display: block;
}

.mainc-cards h1
{
    text-align: center;
    margin-top: 40px;

}

.menu h1
{
    text-align: center;
    margin-top: 40px;
}

.menu
{
    width: 39%;
    height: 100%;
    border: solid black 3px;
    display: block;
    background-color: black;
    color: #e69c04;
}

.menu ol
{
    margin-left: 15%;
    margin-top: 30px;
    font-size: 19px;
    cursor: pointer;
}

.menu ol li:hover
{
    scale: calc(1.01);
}

.cards
{
    margin: 50px;
    display: flex;
    
    gap: 80px;
    flex-wrap: wrap;
}

.cards .card-data
{
    width: 200px;
    border: solid #270000 3px;
    height: 200px;
    border-radius: 10px;
    background: #ffee00;
}

.card-data img
{
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.card-data ul
{
    list-style: none;
    padding: 9px;
}