*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navparent
{
    width: 100%;
    height: 60px;
    padding: 20px;
    color: wheat;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.navlinks ul 
{
    display: flex;
    gap: 25px;
    font-size: 20px;
    list-style: none;
    cursor: pointer;
}

.searchbar
{
    display: flex;
    gap: 3px;
}

.searchbar input 
{
    width: 200px;
    height: 25px;
    border: solid gold 1px;
    border-radius: 9px;
    background-color: black;
}

.searchbar .navicon 
{
    border: solid 3px;
    width: 20px;
    height: 20px;
}