.parent
{
  width: 100%;
  height: 100vh;
  background-color: rgb(15, 0, 0);
  padding: 30px;
  display: flex;
  gap: 30px;
}
.card
{
  height: 380px;
  width: 330px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img
{
  width: 40px;
  height: 40px;
  border: 1px solid #dada;
  border-radius: 50%;
  padding: 2px;
}

.top button 
{
  display:flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}



.center h3
{
  font-size: 17px;
  font-weight: 500;
}

.center h3 span
{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 
{
  font-size: 20px;
  font-weight: 600;
}

.center .tag 
{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4
{
  font-size: 10px;
  background-color: #dadada;
  color: black;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 3px;
}

.bottom
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3
{
  font-size: 17px;

}
.bottom p
{
  font-size: 10px;
  color: #8b8b8b;
}